<div class="form-group">
  <input name="search" placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
</div>
<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
  <agm-marker [markerDraggable]="true" [markerClickable]="true" (dragEnd)="getCurrentLocation($event)" [latitude]="latitude" [longitude]="longitude"></agm-marker>
  
</agm-map>
{{ latitude }} and {{ longitude }}