<form #add="ngForm" (ngSubmit)="submitForm()">
  <div class="form-group">
      <label for="company">Company </label>
      <input name="company" #name="ngModel" [(ngModel)]="customer.company" type="text" class="form-control" required>
  </div>
  <div class="form-group">
      <label for="contact">Contact </label>
      <input name="contact" #contact="ngModel" [(ngModel)]="customer.contact" type="text" class="form-control" required>
  </div>
  <div class="form-group">
      <label for="country">Country </label>
      <input name="country" #country="ngModel" [(ngModel)]="customer.country" type="text" class="form-control" required>
  </div>
  <input [disabled]="!name.valid || !contact.valid || !country.valid" type="submit" value="Submit" />
</form>
<div id="loading" *ngIf="!allCustomers">
  Loading...
</div>
<table *ngIf="allCustomers" id="customers">
  <thead>
    <tr>
      <th>#</th>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
      <th>Action</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i = index; let customer of allCustomers">
      <td>{{ i+1 }}</td>
      <td>{{ customer.payload.val().company }}</td>
      <td>{{ customer.payload.val().contact }}</td>
      <td>{{ customer.payload.val().country }}</td>
      <td><button [routerLink]="['/two/edit',customer.key]">Edit</button></td>
      <td><button (click)="deleteCustomer(customer.key)">Delete</button></td>
    </tr>
  </tbody>
</table>