<input type="text" placeholder="Country name or code here" [value]="countryCode" [(ngModel)]="countryName" (keyup)="showCountry()" />
<div [hidden]="flag" id="country">
  <span (click)="getCountry($event.target.innerHTML)" *ngFor="let country of filteredList">
    <img src="{{ country.flag }}" height="15" width="20" /> {{ country.callingCodes }} {{ country.name }} <br/>
  </span>
</div>
<!-- <select name="country">
  <option *ngFor="let country of countrylist" value="{{ country.name }}">{{ country.name }}</option>
</select> -->