<form #payment="ngForm" (ngSubmit)="initPay()">
    <input type="text" #name="ngModel" name="name" [(ngModel)]="customer.name" placeholder="Name" /><br/>
    <input type="email" #email="ngModel" name="email" [(ngModel)]="customer.email" placeholder="Email" /><br/>
    <input type="number" min="1" max="10" name="quantity" [(ngModel)]="quantity" placeholder="Quantity" /><br/>
    <button type="submit" [disabled]="!name.dirty || !email.dirty" id="rzp-button1">Pay</button>
</form>