<div id="id01" class="modal">
  <form [formGroup]="myform" class="modal-content" novalidate>
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
        <label for="email"><b>Email</b></label>
        <input formControlName="email" type="text" placeholder="Enter Email" name="email" required>
      <label for="psw"><b>Password</b></label>
      <input formControlName="password" type="password" placeholder="Enter Password" name="psw" required>
      <span *ngIf="myform.controls.email.errors == null">
        Email is valid
      </span><br>
      <span *ngIf="myform.controls.email.errors != null">
        Email is invalid
      </span>
      <br>
      <span *ngIf="myform.controls.password.valid">
        Password is valid
      </span>
      <br>
      <span *ngIf="myform.controls.password.invalid">
        Password must be at least six characters
      </span>
      <div class="clearfix">
        <button type="submit" [disabled]="myform.controls.email.invalid || myform.controls.password.invalid" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>