<!-- <iframe width="560" id="ytplayer" height="315" [src]="safeURL" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
<div class="max-width-1024">
    <div class="embed-responsive embed-responsive-16by9" #event id="player">
    </div>
</div>