<h1>
  Edit Customer
</h1>
<form #add="ngForm" (ngSubmit)="submitForm()">
  <div class="form-group">
      <label for="company">Company </label>
      <input name="company" #name="ngModel" [(ngModel)]="customer.company" type="text" class="form-control" required>
  </div>
  <div class="form-group">
      <label for="contact">Contact </label>
      <input name="contact" #contact="ngModel" [(ngModel)]="customer.contact" type="text" class="form-control" required>
  </div>
  <div class="form-group">
      <label for="country">Country </label>
      <input name="country" #country="ngModel" [(ngModel)]="customer.country" type="text" class="form-control" required>
  </div>
  <input [disabled]="!name.valid || !contact.valid || !country.valid" type="submit" value="Update" />
</form>