<div class="form-group">
  <label for="file">Choose File</label>
  <input type="file" id="file" ng2FileSelect [uploader]="uploader">
  <button (click)="uploader.uploadAll()">Upload</button>
         
</div>
<img *ngIf="src" src="{{src}}" width="100%"/>