<table *ngIf="allCustomers" id="customers">
  <thead>
    <tr>
      <th>#</th>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of allCustomers; let i = index">
      <td>{{ i+1 }}</td>
      <td>{{ customer.company }}</td>
      <td>{{ customer.contact }}</td>
      <td>{{ customer.country }}</td>
    </tr>
  </tbody>
</table>